@mixin opcionesTarjeta{

    .añadirTarjeta{
        display: none;

        &.activo{
            display: block;
            background-color: rgba(0,0,0,0.5);
            width: -webkit-fill-available;
            height: -webkit-fill-available;
            position: absolute;
            top:0;
            left:0;
    
    
            div.contenido{
                width: 50vw;
                height: 30vw;
                border-radius: 10px;
                background-color: white;
                position: absolute;
                left: 25%;
                top: 30%;

                button.salirTarjeta{
                    position: absolute;
                    top:0;
                    right: 0;
                    border-radius: unset;
                    margin-right: 1em;
                }
            }
        }
    }
}